@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.arrow-box {
  width: 20px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  background-image: url("../../public/arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(100%); /* Invert the colors to make it white */
}

input {
  padding: 15px;
  margin: 10px 0px;
}
